:root {
    --primary: #2f5d5b;
    --secondary: #4c7a78;
    --accent: #7c5a3a;
    --background: #f8f5f2;
    --beige: #e7d7c9;
    --text: #2f2f2f;
    --white: #ffffff;
    --shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    --radius: 16px;
    --max-width: 1360px;
    --soft: #f1ede8;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--white);
    color: var(--text);
    line-height: 1.6;
}

/* ELEMENTOS BASE */

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea {
    font: inherit;
}
section {
    padding: 80px 20px;
}
/* TIPOGRAFÍA */

h1,
h2,
h3 {
    color: var(--primary);
    line-height: 1.2;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 16px;
    text-align: center;
}

h3 {
    font-size: 1.3rem;
    margin-bottom: 12px;
}

p {
    margin-bottom: 12px;
    font-size: 1rem;
}

/* BOTONES */

.btn-primary,
.btn-secondary {
    display: inline-block;
    padding: 12px 22px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--white);
}

.btn-primary:hover {
    background-color: var(--accent);
}

.btn-secondary {
    background-color: var(--secondary);
    color: var(--white);
}

.btn-secondary:hover {
    background-color: var(--primary);
}